.App {
  text-align: center;
  margin: 5rem;
  background-color: slategray;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > div{
  margin: 10px;
  padding: 10px;
}